/* ---------- FONTS ----------- */

@font-face {
    font-family: 'bitter';
    src: url("fonts/bitter/Bitter-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'bitter';
    src: url("fonts/bitter/Bitter-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'spartan';
    src: url('fonts/league-spartan/leaguespartan-bold.eot');
    src: url('fonts/league-spartan/leaguespartan-bold.woff2') format('woff2'),
         url('fonts/league-spartan/leaguespartan-bold.woff') format('woff'),
         url('fonts/league-spartan/leaguespartan-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'spartan-outlines';
    src: url('fonts/league-spartan/leaguespartan-bold-outlines-webfont.eot');
    src: url('fonts/league-spartanvleaguespartan-bold-outlines-webfont.woff2') format('woff2'),
         url('fonts/league-spartan/leaguespartan-bold-outlines-webfont.woff') format('woff'),
         url('fonts/league-spartan/leaguespartan-bold-outlines-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'kroen';
    src: url("fonts/kroen/Kreon-Regular.ttf");
    font-weight: regular;

}



/* variables */
/* ---------- MIXINS ----------- */
/* Mixin to generate random number;
   int should be 0 or 1, 1 being to make it an integer
*/
.makeRandom(@min: 0, @max: @min+1, @int: 0) {
  .checkInt() {
    @getNum: `Math.random() * (@{max} - @{min} + @{int})`;
    @base: unit(`@{int} == 1 ? Math.floor(@{getNum}) : @{getNum}`);
  }
  .checkInt();
  @randNum: @base + @min;
}

@keyframes example {
    0%  {background-color: #FEFE52;}
    35%  {background-color: #FF8F21;}
    65%  {background-color: #FF592D;} /* #FE5252 */
    100%  {background-color: #FEFE52;}
}


/* FIX THE BROWSERS’ DEFAULT SETTINGS */
* {
    margin: 0;
    padding: 0;
}
div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* GENERAL STYLING */
body {
    animation-name: example;
    animation-duration: 300s;
    animation-iteration-count: infinite;
    font-family: 'spartan';
    font-style: normal;
    font-size: 1.1em;
    line-height: 1.4em;
    letter-spacing: 0.5px;
}

/* FONTS */
p + p {
    margin-top: 1.3em;
}
h1 {
    display: none;
    font-family: 'spartan-outlines';
    text-transform: uppercase;
    font-size: 1.3em;
    line-height: 1em;
    text-align: left;
    letter-spacing: 2px;
    margin-top: 20pt;
}
h2 {
    text-align: center;
    margin: 20px 0;
    margin-top: 30px;
    font-size: 1.1em;
    line-height: 1.3em;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h3 {
    text-align: left;
    margin: 20px 0;
    margin-top: 30px;
    font-size: 0.95em;
    line-height: 1.3em;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/* LINKS */
a, a:visited, a:hover, a:active, a:link {
    color:#000000;
    border-bottom: 2px solid black;
    text-decoration: none;
}
a.internal-link, a.internal-link:visited, a.internal-link:active, a.internal-link:link {
    border-bottom: 0px;
}
a.internal-link:hover {
    border-bottom: 2px solid black;
}
a.internal-link.border-hover:hover div div {
    border: 3px solid black;
}
ul {
    margin: 1.3em 0;
}
li {
    list-style-type: none;
}

.header {
    position: fixed;
    top: 15px;
    left: 28px;
    z-index: 100000;
}
.header ul {
    margin: 0;
}
nav {
    margin-left: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
nav li {
    margin-right: 20px;
}
nav li, nav div {
    display: inline-block;
    list-style-type: none;
    text-align: left;
}
nav li.nl, nav li.fr, nav li.en {
    margin-right: 0px;
}


/* BACKGROUND IMAGES */
.container-background {
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
}
.container-background img {
    width: 70%;
    float: left;
}
.background-left {
    margin-left: -20%;
    margin-right: -0.2%;
    margin-bottom: -0.5%;
}
.background-right {
    margin-right: -20%;
    margin-bottom: -0.5%;
}

.text img {
    max-width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#intro {
    position: absolute;
    top: 1100px;
    right: 0px;
    width: 50%;
    padding: 40px;
    padding-top: 60px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: white;
}
#calendar {
    padding-top: 190px;
    position: absolute;
    top: 900px;
    left: 15%;
}
#calendar div {
    -ms-transform: skewY(15deg); /* IE 9 */
    -webkit-transform: skewY(15deg); /* Safari */
    transform: skewY(15deg);
    width: 200px;
    background-color: white;
    padding: 20px;
}
#about {
    position: absolute;
    top: 2000px;
    right: 0px;
    width: 50%;
    padding-top: 40px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: white;
}
#about div {
    padding: 40px;
}
#library {
    position: absolute;
    top: 4250px;
    right: 0px;
    width: 50%;
    padding-top: 150px;
}
#library div {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 40px;
}
#events {
    position: absolute;
    top: 6000px;
    left: 0px;
    width: 49.8%;
    padding-top: 150px;
    background-color: transparent;
}
#events div {
    background-color: white;
    padding: 20px 30px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

#past-events {
    position: absolute;
    background-color: white;
    top: 0px;
    right: 0px;
    width: 50%;
    padding: 40px;
    padding-top: 60px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}

.archive-title {
    margin-top: 150px;
    border-top: 3px solid black;
    padding-top: 30px;
}
.archive-section {
    margin-top: 50px;
}


/* LANGUAGES */
/* for the language button */
#select_language {
    cursor: pointer;
}
/* when a language is selected the others are not displayed */
.active {
    display: none;
}

/* RESPONSIVE */

@media screen and (min-width:50px) and (max-width:600px) {
    .container-background {
        display: none;
    }
    .header {
        position: relative;;
        top: 0px;
        left: 0px;
        z-index: 100000;
        margin-top: 15px;
        margin-left: 15px;
    }
    .logo {
        margin-top: 15px;
    }
    #intro {
        position: relative;
        top: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        margin-top: 30px;
        padding-top: 20px;
    }
    #calendar {
        position: relative;
        top: 0px;
        left: 0%;
        padding: 50px 40px;
    }
    #about {
        position: relative;
        right: 0px;
        left: 0px;
        width: 100%;
        top: 0px;
        padding-top: 0px;
    }
    #library {
        position: relative;
        right: 0px;
        left: 0px;
        width: 100%;
        top: 0px;
        padding-top: 0px;
        border-top: 0;
    }
    #events {
        position: relative;
        right: 0px;
        left: 0px;
        top: 0px;
        width: 100%;
        padding-top: 0px;
        margin-top: 40px;
    }
    #past-events {
        position: relative;
        left: 0px;
        right: 0px;
        width: 100%;
        margin-top: 40px;
    }
    nav div {
    display: block;
    }
}
