/* ---------- FONTS ----------- */
@font-face {
    font-family: 'neo-euler';
    src: url("fonts/neo-euler/ams-euler.ttf");
}
@font-face {
    font-family: 'bitter';
    src: url("fonts/bitter/Bitter-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'bitter';
    src: url("fonts/bitter/Bitter-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: 'junction';
    src: url("fonts/junction-master/webfonts/junction-bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: 'junction';
    src: url("fonts/junction-master/webfonts/junction-light.ttf");
    font-weight: light;
}
@font-face {
    font-family: 'junction';
    src: url('fonts/junction-master/_webfonts/Junction-regular.otf');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'spartan';
    src: url('fonts/league-spartan-master/_webfonts/leaguespartan-bold.eot');
    src: url('fonts/league-spartan-master/_webfonts/leaguespartan-bold.woff2') format('woff2'),
         url('fonts/league-spartan-master/_webfonts/leaguespartan-bold.woff') format('woff'),
         url('fonts/league-spartan-master/_webfonts/leaguespartan-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'universelse';
    src: url("fonts/universelse/universelse-bold-webfont.ttf");
}
@font-face {
    font-family: 'tulpen';
    src: url("fonts/tulpen/TulpenOne-Regular.ttf");
}
@font-face {
    font-family: 'nadia-serif';
    src: url("fonts/nadia--serif/nadia_serif.ttf");
}
@font-face {
    font-family: 'kroen';
    src: url("fonts/kroen/Kreon-Regular.ttf");
    font-weight: regular;

}
@font-face {
    font-family: 'kroen';
    src: url("fonts/kroen/Kreon-Bold.ttf");
    font-weight: bold;

}
@font-face {
    font-family: 'kroen';
    src: url("fonts/kroen/Kreon-Light.ttf");
    font-weight: light;

}
@font-face {
    font-family: 'fjord';
    src: url("fonts/fjord/FjordOne-Regular.otf");
}

/* FIX THE BROWSERS’ DEFAULT SETTINGS */
* {
    margin: 0;
    padding: 0;
}
div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* GENERAL STYLING */
body {
    max-width: 800px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: 'PT Sans';
    font-style: normal;
    font-size: 1.3em;
    line-height: 1.2em;
    letter-spacing: 0.5px;
}
.grid div {
    float: left;
    width: 10%;
    border-left: 1px dotted black;
    border-right: 1px dotted black;
    text-align: right;
    padding: 5px;
}
nav {
    margin-top: 0px;
    margin-left: 30%;
    font-size: 11px;
    margin-bottom: 40px;
    font-family: 'spartan';
}
nav li, nav div {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    margin-right: 20px;
    width: 10%;
}
nav li.nl, nav li.fr, nav li.en {
    margin-right: 0px;
    width: auto;
}

/* FONTS */
p + p {
    text-indent: 3em;
    margin-top: 1.3em;
}
h1 {
    font-size: 1.3em;
    line-height: 1.3em;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: normal;
    text-align: center;
    font-family: 'spartan';
}
h2 {
    font-size: 1.1em;
    line-height: 1.3em;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: normal;
    text-align: center;
    font-family: 'spartan';
}
h3 {
    font-size: 0.9em;
    line-height: 1.3em;
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: normal;
}
/* LINKS */
a, a:visited, a:hover, a:active, a:link {
    color:#000000;
    border-bottom: 2px dashed black;
    text-decoration: none;
}
a.internal-link, a.internal-link:visited, a.internal-link:hover, a.internal-link:active, a.internal-link:link {
    border-bottom: 0px;
}
li {
    list-style-type: none;
}
.bibliography li {
    margin-top: 1.3em;
}
/* ELEMENTS */
img {
    display: block;
    margin: auto;
    max-width: 600px;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}
hr {
    border-top: 2px solid black;
    margin: 5px 0;
}

/* PERSPECTIVE */
/* aside elements on every pages */
.aside-calendar {
    border: 1px solid black;
    font-family: 'spartan';
    font-size: 10pt;
}
.aside-calendar ul {
    font-family: 'bitter';
    font-weight: normal;

}
.aside-calendar ul dt {
    font-family: 'spartan';
    font-weight: normal;
    text-indent: 1em;
    margin-top: 10pt;
}
.aside-calendar ul dt  {
    font-family: 'spartan';
    font-weight: normal;
    text-indent: 1em;
    margin-top: 10pt;
}
.aside-misc {
/*    background-color: #3498db;*/
    width: 170px;
    padding: 20px;
    margin-top: 40px;
    border: 1px solid black;
    transform: rotateY(-30deg);
}
/* main page */
div.perspective-main {
    perspective: 500px;
    width: 70%;
    float: left;
    margin-left: -35px;
}
div.perspective-main div {
    transform: rotateY(-15deg);
}
aside.perspective-main {
    perspective: 600px;
    width: 30%;
/*    border: 2px dotted black;*/
    float: left;
}
aside.perspective-main .aside-calendar {
    transform: rotateY(40deg);
/*    background-color: #2ecc71;*/
    padding: 20px;
    width: 100%;
}
/* about page */
div.perspective-about {
    perspective: 1500px;
    width: 60%;
    float: left;
    margin-left: -15px;
}
div.perspective-about div {
    transform: rotateY(-15deg);
}
aside.perspective-about {
    perspective: 600px;
    width: 30%;
    float: left;
    margin-right: 10%;
}
aside.perspective-about .aside-calendar {
    transform: rotateY(40deg);
/*    background-color: #2ecc71;*/
    padding: 20px;
    width: 100%;
}
/* events page */
div.perspective-events {
    perspective: 500px;
    width: 50%;
    float: left;
    margin-left: -20px;
}
div.perspective-events div {
    transform: rotateY(-15deg);
}
aside.perspective-events {
    perspective: 600px;
    width: 30%;
    float: left;
    margin-right: 20%;
}
aside.perspective-events .aside-calendar {
    transform: rotateY(40deg);
/*    background-color: #2ecc71;*/
    padding: 20px;
    width: 100%;
}
/* readings page */
div.perspective-readings {
    perspective: 1000px;
    width: 40%;
    float: left;
    margin-left: -10px;
}
div.perspective-readings div {
    transform: rotateY(-15deg);
}
aside.perspective-readings {
    perspective: 600px;
    width: 30%;
    float: left;
    margin-right: 30%;
}
aside.perspective-readings .aside-calendar {
    transform: rotateY(40deg);
/*    background-color: #2ecc71;*/
    padding: 20px;
    width: 100%;
}

/* LANGUAGES */
/* for the language button */
#select_language {
    cursor: pointer;
    padding-left: 10px;
}
/* when a language is selected the others are not displayed */
.active {
    display: none;
}
